{% extends "gamestradamus/base.html" %} 
{% block title %}Unsubscribe{% endblock %}

{% block header %}
    <article class="your-profile-settings">
        <div class="title">
            <h1>Unsubscribe: {{ user_account_email.email }}</h1>
        </div>
    </article>
{% endblock %}

{% block container %}
    <article class="unsubscribe">
        {% if unsubscribed_already %}
            <div class="left">
                <h2>You have been unsubscribed</h2>
                <p>We're sorry to see you go. We have tried very hard to
                make the emails we send be useful. If you don't mind letting
                us know why you are going, that will help us make our service
                even better. Please&nbsp;<a href="mailto:admin@gaugepowered.com">email
                us</a>&nbsp;and let us know</p>
            </div>
        {% else %}
            <div class="left">
                <h2>Last step:</h2>
                <form action="" method="POST">
                    {% if error %}Please tick the box to confirm that you want to unsubscribe{% endif %}
                    <input id="for-realz" type="checkbox" name="for_realz">
                    <label for="for-realz">I want to unsubscribe from&nbsp;<strong>all</strong>&nbsp;Gauge Powered emails.</label>
                    <br>
                    <button type="submit">Unsubscribe</button>
                </form>
            </div>
        {% endif %}
    </article>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        require(["gamestradamus/profile-settings"], function(init) { init(); });
    </script>
{% endblock %}
