{% extends "gamestradamus/admin/base.html" %}
{% import 'gamestradamus/numbers.html' as numbers %}

{% block left %}
{% set game_1 = duplicate.game_1() %}
<article class="game">
    <div class="info">
        <a href="http://store.steampowered.com/app/{{ game_1.app_id }}/" target="_blank" class="thumb" title="View on Steam">
            <img src="{{ request.config['gauge.steam_cdn'] }}{{ game_1.app_id }}/header_292x136.jpg" width="292" height="136">
            {% if game_1.on_sale %}
            <div class="overlay">&nbsp;</div>
            {% endif %}
        </a>
        <h1 {% if game_1.name|length > 50 %}style="font-size: 30px;"{% endif %}>{{ game_1.name }}</h1>

        <div class="details">
            {% if game_1.sale_price or game_1.price %}
                <p class="price">
                    {% if game_1.on_sale %}
                        -{{ game_1.percent_off|round|int }}%&nbsp;<span>|</span>&nbsp;{{ numbers.format_price_with_symbol(region, game_1.sale_price) }}&nbsp;
                        <del>{{ numbers.format_price_with_symbol(region, game_1.price) }}</del>
                    {% else %}
                        {{ numbers.format_price_with_symbol(region, game_1.price) }}
                    {% endif %}
                </p>
            {% endif %}
            <a href="http://store.steampowered.com/app/{{ game_1.app_id }}/" target="_blank" class="steam">
                View on Steam
            </a>
            <a href="/game/{{ game_1.id }}/" target="_blank" class="steam">
                View on Gauge
            </a>
            <div class="clear"></div>

            {% if game_1.genre %}
                <p class="genre">
                    <strong>Genre:</strong>&nbsp;{{ game_1.genre }}
                </p>
            {% endif %}

            {% if game_1.release %}
                <p class="release">
                    <strong>Release:</strong>&nbsp;{{ game_1.release.strftime("%b %d, %Y") }}

                    {% if game_1.release < now %}
                    <span>
                        {% set before = (now - game_1.release) %}
                        {% set years = (before.days / 365)|int %}
                        {% set months = (((before.days - years * 365) % 365) / 30.4)|int %}

                        {% if years > 0 or months > 0 %}
                            ({% if years > 0 %}{{ years }} year{% if years > 1 %}s{% endif %}{% endif %}{% if years > 0 and months > 0 %}, {% endif %}{% if months > 0 %}{{ months }} month{% if months > 1 %}s{% endif %}{% endif %} ago)
                        {% endif %}
                    </span>
                    {% endif %}
                </p>
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
</article> 
{% endblock %}

{% block right %}
{% set game_2 = duplicate.game_2() %}
<article class="game">
    <div class="info">
        <a href="http://store.steampowered.com/app/{{ game_2.app_id }}/" target="_blank" class="thumb" title="View on Steam">
            <img src="{{ request.config['gauge.steam_cdn'] }}{{ game_2.app_id }}/header_292x136.jpg" width="292" height="136">
            {% if game_2.on_sale %}
            <div class="overlay">&nbsp;</div>
            {% endif %}
        </a>
        <h1 {% if game_2.name|length > 50 %}style="font-size: 30px;"{% endif %}>{{ game_2.name }}</h1>

        <div class="details">
            {% if game_2.sale_price or game_2.price %}
                <p class="price">
                    {% if game_2.on_sale %}
                        -{{ game_2.percent_off|round|int }}%&nbsp;<span>|</span>&nbsp;{{ numbers.format_price_with_symbol(region, game_2.sale_price) }}&nbsp;
                        <del>{{ numbers.format_price_with_symbol(region, game_2.price) }}</del>
                    {% else %}
                        {{ numbers.format_price_with_symbol(region, game_2.price) }}
                    {% endif %}
                </p>
            {% endif %}
            <a href="http://store.steampowered.com/app/{{ game_2.app_id }}/" target="_blank" class="steam">
                View on Steam
            </a>
            <a href="/game/{{ game_2.id }}/" target="_blank" class="steam">
                View on Gauge
            </a>
            <div class="clear"></div>

            {% if game_2.genre %}
                <p class="genre">
                    <strong>Genre:</strong>&nbsp;{{ game_2.genre }}
                </p>
            {% endif %}

            {% if game_2.release %}
                <p class="release">
                    <strong>Release:</strong>&nbsp;{{ game_2.release.strftime("%b %d, %Y") }}

                    {% if game_2.release < now %}
                    <span>
                        {% set before = (now - game_2.release) %}
                        {% set years = (before.days / 365)|int %}
                        {% set months = (((before.days - years * 365) % 365) / 30.4)|int %}

                        {% if years > 0 or months > 0 %}
                            ({% if years > 0 %}{{ years }} year{% if years > 1 %}s{% endif %}{% endif %}{% if years > 0 and months > 0 %}, {% endif %}{% if months > 0 %}{{ months }} month{% if months > 1 %}s{% endif %}{% endif %} ago)
                        {% endif %}
                    </span>
                    {% endif %}
                </p>
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
</article> 
{% endblock %}

{% block actions %}
{% if error %}<h2>{{ error }}</h2>{% endif %}
<form method="POST" action="/gauge_admin/duplicate/{{ duplicate.id }}">
    <input name="stat_set_duplicate" type="checkbox" id="stat_set_duplicate">
    <label for="stat_set_duplicate">Stat Set Duplicate?</label><br>

    <input name="game_1_canonical_duplicate" type="checkbox" id="game_1_canonical_duplicate">
    <label for="game_1_canonical_duplicate">Game 1 is a duplicate?</label><br>
    <input name="game_2_canonical_duplicate" type="checkbox" id="game_2_canonical_duplicate">
    <label for="game_2_canonical_duplicate">Game 2 is a duplicate?</label><br>
    <button type="submit">Update</button>
</form>
<br/>
<form method="POST" action="/gauge_admin/duplicate/{{ duplicate.id }}">
    <input name="false_positive" type="hidden" value="on">
    <button type="submit">False Positive</button>
</form>
{% endblock %}
