{% extends "gamestradamus/base.html" %}
{% block title %}{{ user_account.nickname }}'s Library{% endblock %}

{% block header %}
    <article class="others-game-list">
        <div class="title">
            <h1>{{ user_account.nickname }}'s Library</h1>
            <p class="instructions">A breakdown of game play and estimated value.</p>
        </div>
    </article>
{% endblock %}

{% block container %}
    <article class="others-game-list">
        <div class="statistics">
            <div class="average-cost-per-hour">
                <div class="stat">0<span class="unit">¢</span></div>
                <p>Average Cost Per Hour</p>
            </div>

            <div class="average-playtime">
                <div class="stat">0.0</div><span class="unit">&nbsp;hrs</span>
                <p>Average Time</p>
            </div>
 
            <div class="average-cost">
                <span class="unit">$&nbsp;</span><div class="stat">0.00</div>
                <p>Average Price</p>
            </div>

            <div class="total-count">
                <div class="stat">0</div>
                <p>Games</p>
            </div>

            <div class="total-playtime">
                <div class="stat">0.0</div><span class="unit">&nbsp;hrs</span>
                <p>Total Time</p>
            </div>

            <div class="total-cost">
                <span class="unit">$&nbsp;</span><div class="stat">0.00</div>
                <p>Estimated Cost</p>
            </div>

            <div class="average-rating">
                <div class="stat">0.0</div><span class="unit">&nbsp;/ 5 stars</span>
                <p>Average Rating</p>
            </div>
        </div>

        <hr>

        <table id="game_list">
        <thead>
            <tr>
                <th></th>
                <th><a>Game</a></th>
                <th><a class="sort-descending">Hours</a></th>
                <th><a>Cost</a></th>
                <th><a id="cost-per-hour">$ / Hour</a></th>
                <th><a>Rating</a></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td class="center"></td>
                <td class="center"></td>
                <td class="center money"></td>
                <td class="center"></td>
            </tr>
        </tfoot>
        <tbody>
        {% for user_account_game, game in results %}
            {% if not user_account_game.ignored %}
            <tr class="game" data-game-id="{{ game.id }}" data-user-account-game-id="{{ user_account_game.id }}">
                <td class="center pos">{{ loop.index }}</td>
                <td>
                    <a href="/profile/{{ request.user_account.id }}/game/{{ game.id }}/">
                        <img 
                            {% if game.logo %}
                                src="{{ game.logo }}"
                            {% else %}
                                src="{{ request.config['gauge.steam_cdn'] }}{{ game.app_id }}/capsule_sm_120.jpg"
                            {% endif %}
                            width="91" height="35">
                        <h4>{{ game.name }}</h4>
                    </a>
                </td>
                <td class="center">
                    {{ "%.1f"|format(user_account_game.steam_hours_played|default(0.0, True)) }} 
                </td>
                
                {% if game.canonical_game_id %}
                    {% set price = game.Game().price|default(0.0, True) %}
                {% else %}
                    {% set price = game.price|default(0.0, True) %}
                {% endif %}

                <td class="right">
                    ${{ "%.2f"|format(price) }}
                </td>
                <td class="center money">
                    {% if price > 0 and user_account_game.steam_hours_played > 0 %}
                        {{ "%.2f"|format(price / user_account_game.steam_hours_played) }}
                    {% else %}
                        &mdash;
                    {% endif %}
                </td>
                <td>
                    <div class="rating" data-rating="{{ user_account_game.rating|default(0, True) }}">

                        <div class="rating-1{% if user_account_game.rating > 0 %} active{% endif %}">
                            <a class="rating-1" title="I hated this game" data-rating="1">☆<span>★</span></a>

                            <div class="rating-2{% if user_account_game.rating > 1 %} active{% endif %}">
                                <a class="rating-2" title="I disliked this game" data-rating="2">☆<span>★</span></a>

                                <div class="rating-3{% if user_account_game.rating > 2 %} active{% endif %}">
                                    <a class="rating-3" title="I played this game, it was ok" data-rating="3">☆<span>★</span></a>

                                    <div class="rating-4{% if user_account_game.rating > 3 %} active{% endif %}">
                                        <a class="rating-4" title="I liked this game" data-rating="4">☆<span>★</span></a>

                                        <div class="rating-5 {% if user_account_game.rating > 4 %} active{% endif %}">
                                            <a class="rating-5" title="I loved this game" data-rating="5">☆<span>★</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
        </table>
    </article>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        require(["gamestradamus/others-games"], function(init) { init(); });
    </script>
{% endblock %}
